<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/main/head') %>
  </head>
<body>
<div id="header">
	<div class="container">
		<!-- Header -->
		<%- include('../partials/main/header') %>
	</div>
</div>		

		<!-- Content of the main part -->
		<%- include('../main/'+pagename) %>
		<!-- End of Content -->

<%- include('../partials/main/footer') %>
</body>
</html>