	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index.html">Home</a> <span class="divider">/</span></li>
		<li class="active"> SHOPPING CART</li>
    </ul>
	<h3>  SHOPPING CART [ <small>{{get_cart_total_info().count}} Item(s) </small>]<a href="/index" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Continue Shopping </a></h3>	
	<hr class="soft"/>
	<table class="table table-bordered">
		<tr><th> I AM ALREADY REGISTERED  </th></tr>
		 <tr> 
		 <td>
			<form class="form-horizontal">
				<div class="control-group">
				  <label class="control-label" for="inputUsername">Username</label>
				  <div class="controls">
					<input type="text" id="inputUsername" placeholder="Username">
				  </div>
				</div>
				<div class="control-group">
				  <label class="control-label" for="inputPassword1">Password</label>
				  <div class="controls">
					<input type="password" id="inputPassword1" placeholder="Password">
				  </div>
				</div>
				<div class="control-group">
				  <div class="controls">
					<button type="submit" class="btn">Sign in</button> OR <a href="register.html" class="btn">Register Now!</a>
				  </div>
				</div>
				<div class="control-group">
					<div class="controls">
					  <a href="forgetpass.html" style="text-decoration:underline">Forgot password ?</a>
					</div>
				</div>
			</form>
		  </td>
		  </tr>
	</table>		

	<table class="table table-bordered">
      <thead>
				<tr>
					<th>Product</th>
					<th>Description</th>
					<th>Quantity/Update</th>
					<th>Price</th>
					<th>Total</th>
				</tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in carts.cart_products">
          <td> <img width="60" src="{{'/img/products/'+product.product_id+'/'+product.image[0].name}}" alt=""/></td>
          <td>{{product.info}}<br/> </td>
				  <td>
					<div class="input-append"><input class="span1" style="max-width:34px" placeholder="1" id="appendedInputButtons" size="16" type="text" ng-model="product.count"><button class="btn" type="button" ng-click="product_count_update(product, -1)"><i class="icon-minus"></i></button><button class="btn" type="button" ng-click="product_count_update(product, 1)"><i class="icon-plus"></i></button><button class="btn btn-danger" type="button" ng-click="product_count_update(product, 0)"><i class="icon-remove icon-white"></i></button>				</div>
				  </td>
					<td>${{product.amount}}</td>
					<td>${{product.amount*product.count | number:2}}</td>
        </tr>
				 <tr>
						<td colspan="4" style="text-align:right"><strong>TOTAL  =</strong></td>
						<td class="label label-important" style="display:block"> <strong> ${{get_cart_total_info().total_amount}} </strong></td>
					</tr>				
			</tbody>
  </table>
		
	<a href="/index" class="btn btn-large"><i class="icon-arrow-left"></i> Continue Shopping </a>
	<a href="/checkout" class="btn btn-large pull-right">Next <i class="icon-arrow-right"></i></a>
	
</div>
 	<script src="lib/angular/angular.min.js"></script>
	<script src="js/main/ng_product_summary.js?2"></script>