<div id="mainBody">
<div class="container">
	The payment is succeeded. 

	<% if(typeof charge !='undefined'){ %>
	<%= charge %>
	<% } %>
</div>
</div>
<!-- MainBody End ============================= -->
