<link href="css/checkout/checkout.css?1" rel="stylesheet"/>
<script src="https://js.stripe.com/v3/"></script>

<table class="table table-bordered">
      <thead>
				<tr>
					<th>Product</th>
					<th>Description</th>
					<th>Quantity</th>
					<th>Price</th>
					<th>Total</th>
				</tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in carts.cart_products">
          <td> <img width="60" src="{{'/img/products/'+product.product_id+'/'+product.image[0].name}}" alt=""/></td>
          <td>{{product.info}}<br/> </td>
				  <td>
					{{product.count}}
				  </td>
					<td>${{product.amount}}</td>
					<td>${{product.amount*product.count | number:2}}</td>
        </tr>
				 <tr>
						<td colspan="4" style="text-align:right"><strong>TOTAL  =</strong></td>
						<td class="label label-important" style="display:block"> <strong> ${{get_cart_total_info().total_amount}} </strong></td>
					</tr>				
			</tbody>
  </table>
		

<form action="/checkout/charge" method="post" id="payment-form">
    <div id="data_error_code">
        Shipping Address is required..
    </div>
    <input type="hidden" name="amount" value="" />
    <input type="hidden" name="cart_info"  value="" />
    Shipping Address
    <input type="text" name="shipping_address" />

            <div class="form-row">
                <label for="card-element">
                Credit or debit card
                </label>
                <div id="card-element">
                <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
            </div>        
            <button>Submit Payment</button>

</form>
 	<script src="lib/angular/angular.min.js"></script>
	<script src="js/checkout/ng_checkout.js?2"></script>