<div id="mainBody">
<div class="container">
	Something was wrong...
	You are trying invaild action...
	This will be reported to the admin of this service.

	<% if(typeof error !='undefined'){ %>
	<%= error %>
	<% } %>
</div>
</div>
<!-- MainBody End ============================= -->
